/*Global Styles*/

:root {
    height: 100vh;
    margin: 0;
}

.clr {
    clear: both;
}


/*Global Styles*/

/* Nav_Bar */

/* Nav_Bar */

/* home */
.home {

    background-image: url(./../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

.home .cov {
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
}

.typing-demo h1 {
    width: 22ch;
    animation: typing 6s 0.5s steps(22) infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
}

@keyframes typing {
    0% {
        width: 0
    }

    25% {
        width: 15ch;
    }

    50% {
        width: 0;
    }

    75% {
        width: 15ch;
    }

    100% {
        width: 0;
    }
}

/* @keyframes blink {
    50% {
      border-color: transparent
    }
  } */
/* home */

/* about */
.about {
    background-color: #f5f5f5;
}

.after {
    background-color: #0078ff;
    width: 13%;
    height: 3px;
}

/* about */